body {
  background-color: rgb(232, 232, 244);
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 150px;
  
}
.weaterAPPHtml {
  background-color: white;
  /* text-align: center; */
  padding: 10px;
  border-radius: 15px;
  width: 800px;
}
form {
  display: flex;
  gap: 5px;
}
form .searchInput {
  background-color: rgb(232, 232, 244);
  width: 78%;
  height: 50px;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  line-height: 18px;
  border-radius: 5px 0px 0px 5px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
form .searchBtn {
  height: 50px;
  width: 100px;
  background-color: rgb(130, 130, 241);
  border-radius: 0px 5px 5px 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
.WeatherDetails {
  display: flex;
  justify-content: space-between;

  margin: 20px;
  border-top: 2px solid #f9f7fe;
  border-bottom: 2px solid #f9f7fe;
  /* box-shadow: 0 0 0 1px rgb(218, 215, 215); */
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
.description-data {
  text-align: left;
}
.color {
  color: #f65282;
  font-weight: bold;
}
p {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.temparature {
  margin-top: 25px;
  font-weight: bold;
  display: flex;
}
.icon {
  font-size: 38px;
}
.number {
  font-size: 86px;
  font-weight: bold;
}
.deg {
  font-size: 25px;
  margin-bottom: 50px;
}
footer{
  margin-top: 0.5rem;
  text-align: center;
}
footer p {
  color: rgb(101, 99, 96);
  color: rgba(39, 33, 66, 0.4);
  padding-bottom: 0;
  font-size: 1rem;
}
.weather-forecast{
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 6px;

}

.day{
  color: rgba(39, 33, 66, 0.4);
  margin: 5px;
}
.icons,.forecast-points{
  margin: 5px;
}
.icons{
  font-size: 2rem;
}
.color1{
  color: #f65282;
  margin: 5px;
}